@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iarmsm');
  src:  url('fonts/icomoon.eot?iarmsm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iarmsm') format('truetype'),
    url('fonts/icomoon.woff?iarmsm') format('woff'),
    url('fonts/icomoon.svg?iarmsm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liulan2:before {
  content: "\e92f";
}
.icon-love1:before {
  content: "\e930";
}
.icon-love2:before {
  content: "\e931";
}
.icon-shape3:before {
  content: "\e90e";
}
.icon-shape4:before {
  content: "\e929";
}
.icon-shape5:before {
  content: "\e92a";
}
.icon-shape1:before {
  content: "\e92b";
}
.icon-shape2:before {
  content: "\e92c";
}
.icon-colora:before {
  content: "\e92d";
}
.icon-shoucang2:before {
  content: "\e90d";
}
.icon-shoucang1:before {
  content: "\e92e";
}
.icon-close3:before {
  content: "\e90a";
}
.icon-close2:before {
  content: "\e925";
}
.icon-close1:before {
  content: "\e926";
}
.icon-saixuan:before {
  content: "\e927";
}
.icon-password:before {
  content: "\e928";
}
.icon-zhipay:before {
  content: "\e91e";
  color: #009fe8;
}
.icon-weixinpay:before {
  content: "\e91f";
  color: #41b035;
}
.icon-fackbook:before {
  content: "\e920";
}
.icon-weibox:before {
  content: "\e921";
}
.icon-weixing:before {
  content: "\e922";
}
.icon-xingxi:before {
  content: "\e923";
}
.icon-dingwei:before {
  content: "\e900";
}
.icon-fenxiang:before {
  content: "\e901";
}
.icon-gouwuc:before {
  content: "\e902";
}
.icon-hezhuo:before {
  content: "\e903";
}
.icon-jiefenbus:before {
  content: "\e904";
}
.icon-jia:before {
  content: "\e905";
}
.icon-money:before {
  content: "\e906";
}
.icon-liulan:before {
  content: "\e907";
}
.icon-pinglun:before {
  content: "\e908";
}
.icon-hot:before {
  content: "\e909";
}
.icon-delete:before {
  content: "\e90b";
}
.icon-set:before {
  content: "\e90c";
}
.icon-kefu:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e911";
}
.icon-head:before {
  content: "\e912";
}
.icon-quit:before {
  content: "\e913";
}
.icon-order:before {
  content: "\e914";
}
.icon-me:before {
  content: "\e915";
}
.icon-tiaozhuan:before {
  content: "\e916";
}
.icon-tiaozhuan2:before {
  content: "\e924";
}
.icon-artist:before {
  content: "\e917";
}
.icon-coupons:before {
  content: "\e918";
}
.icon-yulan:before {
  content: "\e919";
}
.icon-zan2:before {
  content: "\e91a";
}
.icon-zan1:before {
  content: "\e90f";
}
.icon-right3:before {
  content: "\e91b";
}
.icon-right1:before {
  content: "\e91c";
}
.icon-right2:before {
  content: "\e91d";
}
.icon-more:before {
  content: "\eaa4";
}
